body{
  display: flex;
}

header{
  height: 35px;
}
/* navbar */
#navbar{
    border: 1px #000 solid;
    width: 17%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* border-color: #f1f1f1; */
}
#navbar ul{
/* border: 1px #232323 solid; */
padding: 0;margin: 0;

  /* background-color: rgba(34, 44, 44, 0.7); */

}

#navbar ul li{
  list-style: none;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  }
#navbar ul li:hover{
    background-color: rgba(34, 44, 44, 0.9);
  }

.nav-link{
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 18px 8px 18px 15px;
  display: block;
}
.nav-link:hover{
  color:white;
}
/*  content*/
#main-doc{
  margin-left: 20%;
  margin-right: 4%;
  width: 100%;
  }
section{
  font-size: 22px;
  margin-top: 5%;
  }
.head-p{
  text-align: center;
  font-weight:bold;
  font-size: 26px;
}
code {
 display: block;
 white-space: pre-wrap;
}
@media (max-width: 1000px) {
  #navbar{
      width: 210px;
    }
    #main-doc{
      margin-left: 220px;}
}
