
header{
  top: 3px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  z-index: 5;
  background-color: rgba(48, 44, 44, 0.3);
  height: 54px;
}
/* #img-logo{
  max-width: 140px;
  position: relative; */
}
h1{
  border-color: #ff0;
}
#header-img{
  padding-left: 3%;
  height: 54px;
  vertical-align: middle;
}

nav{
position: absolute;
 right: 3%;
}
nav ul{
  list-style: none;
  }
.nav-link{
  top: 3px
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}
.nav-link:hover{
  border: 1px #eee solid;
  border-radius: 10px;
}
/*  content*/
.content{
  margin: 8%;
  text-align: center;
}
h1{
  text-align: center;
}
p{
  text-align: justify;
}
.h-top{
  padding-top: 45px;
}
#about p{
  font-size: 18px;
}
#contacts ul{
  margin-left: 33%;
  text-align: justify;
  font-size: 24px;
  }
  #contacts ul li{padding: 20px;}
  #contacts ul li span{
    padding-right: 10px;
    color: red;
    font-weight:bold;}
/* price */
.column{
  float: left;
  width: 30%;
  padding: 6px;
}
@media (max-width: 700px){
  .column{
    float: both;
    width: 100%;
  }
}
.price{
  list-style: none;
  border: #ddd 1px solid;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  }
  .price:hover{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
.price-header{
  background-color: #444;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 15px 15px 0 0;
}
.price .dimension{
  background-color: #ddd;
  color: #000;
  padding: 20px;
  text-align: center;
}
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}
.discription-price{
  border-radius: 0 0 15px 15px;
}
